---
import Footer from '../components/Footer';
import Header from '../components/Header';
import SearchMod from '../components/SearchMod';
import StatisticsCount from '../components/StatisticsCount';
import WeekMods from '../components/WeekMods';
import Layout from '../layouts/Layout.astro';

---

<Layout title="mods-website">
	<main class="flex flex-col gap-5">
		<Header></Header>
		<WeekMods client:load></WeekMods>
		<StatisticsCount></StatisticsCount>
		<SearchMod client:load></SearchMod>	
		<Footer></Footer>
	</main>
</Layout>
