---
import { FormUploadMod } from "../components/Forms";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sons of the forest Mods">
  <div class="w-full min-h-[80.5vh] flex items-center">
    <FormUploadMod client:load />
  </div>
</Layout>
